
a(href="/todos/create") New Todo

form(action="/todos/search", method="GET")
  input(type="text" name="q")
  button(value=q) search


each todo in todos
  ul
  li 
    span #{todo.name}
    span &nbsp
    a(href="/todos/" + todo.id) View
    span &nbsp
    a(href="/todos/" + todo.id +"/delete") Delete